body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tour-details {
    text-align: left;
}

.tour-details h1 {
    color: #444;
}

.booking-form {
    margin-top: 20px;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
}

.booking-form select,
.booking-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.booking-form button {
    width: 100%;
    padding: 15px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.booking-form button:hover {
    background-color: #ccc;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 28px;
    color: #444;
}

.content {
    text-align: center;
}

.details {
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid #ccc;
    padding-top: 15px;
}

.volver {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.volver:hover {
    background-color: #e68900;
}
